<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque explicabo sequi maxime?</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Animi quod necessitatibus nesciunt?</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum error soluta ducimus!</p>
    </div>

    <%- include('./partials/footer.ejs') %>
</body>
</html>